<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>React App 1</title>
</head>
<body>
    <div class="form-container">
        <form action="" method="post">
            <h1>Welcome to out App </h1>
           <p>hi </p> {{ name }}
            <p>
                <label for="username">UserName</label>
                <input type="text" id="username" name="username">
            </p>
            <p>
                <label for="pwd">Password</label>
                <input type="password" id="pwd" name="pwd">
            </p>
            <p>
                <input type="submit" name="submit" value="Submit">
            </p>
        </form>
    </div>
</body>
</html>